<div class="container">

	<div class="forms_1">
		<div class="title_box">
			郵便番号(7桁) + 都道府県、市区町村
		</div>
		<div class="forms">
			<div class="form-group">
				<label>▷郵便番号</label>
				<!-- ▼郵便番号入力フィールド(7桁) -->
<!-- ▼郵便番号入力フィールド(3桁+4桁) -->
<input type="text" name="zip31" size="4" maxlength="3"> － <input type="text" name="zip32" size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('zip31','zip32','pref31','addr31','addr31');">
			</div>

			<div class="form-group">
				<label>︎▷住所</label>
<!-- ▼住所入力フィールド(都道府県) -->
<input type="text" name="pref31" size="20">
<!-- ▼住所入力フィールド(都道府県以降の住所) -->
<input type="text" name="addr31" size="40">
			</div>   
		</div> 
	</div>




<style type="text/css">
	.title_box{
		padding: 10px 10px;
		margin: 10px 0;
		border-left: solid 6px orange;
		border-bottom: solid 1px orange;
		font-size: 25px;
		background-color: lightyellow;
	}

</style>